*.7z
*.ab1
bac/
Backup/D8_R1.fastq.gz.bak
Backup/D8_R1.fastq.gz.bak2
Backup/D8_R1.fastq.gz.from_bak
Backup/D8_R2.fastq.gz3
*.bai
bak/
*.bam
*.bigWig
*.bt2
*.bw
.conda/
*.cram
.DS_Store
*.err
*.fai
*.fast5
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.h5
*.index*
*.iso
loca_bac
local_backup/
local_bak
local_tmp/
*.log
.nextflow/
*.pod5
__pycache__/
# --- Python/R 产生的环境或缓存 ---
*.rar
.RData
.Rhistory
.Rproj.user/
*.sam
.snakemake/
*.tar.gz
*.tbi
temp/
Thumbs.db
*.tmp
tmp/
*.vcf.gz
venv/
work/
*.zip
# 排除所有可能的二进制大数据
# 排除生信特有大数据 (增加常见格式)
# --- 操作系统文件 ---
# --- 测序原始数据 & 信号文件 ---
# --- 索引文件 (大文件且可重新生成) ---
# --- 软件日志 & 临时目录 ---
