executor {
    name = 'local'
    cpus = 32
    memory = '90 GB'
}

process {
    // 这里必须使用您昨晚成功时的参数：6核，15GB。
    // 改变这些数字会导致 Nextflow 认为任务指纹改变，从而重跑。
    withName: 'STAR_ALIGN|SALMON_QUANT|PICARD_MARKDUPLICATES' {
        cpus   = 6               
        memory = '15 GB'         
        maxForks = 5             
    }

    withLabel: 'process_medium' {
        cpus = 2
        maxForks = 10
    }
}