// 限制 local 执行器的资源上限，防止它把服务器压垮
executor {
    name = 'local'
    cpus   = 32
    memory = '90 GB'
}

process {
    // 强制限制 SortMeRNA 这种高耗能任务的并行数
    withName: 'SORTMERNA' {
        cpus = 8           // 每个样本分 8 核
        maxForks = 4       // 最多同时跑 4 个样本 (4*8=32)
    }
    
    // 强制限制 STAR 的并行数 (因为内存占用大)
    withName: 'STAR_ALIGN' {
        cpus = 16
        maxForks = 2       // 每次只跑 2 个样本，防止内存溢出
    }
}